.video {
    width: 100%;
    height: 100%;
}

.player {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 0;
    background-image: url(src/assets/play_icon.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    inset: 0;
    margin: auto;
}

.wrapper {
    position: relative;
    height: 100vh;
}

.hidden {
    opacity: 0;
}