.App {
  background: #000;
  height: 100vh;
  text-align: center;
  display: grid;
  align-content:center;
  justify-content:center;
}

main {
  border: 1px solid #fff;
  aspect-ratio: 9/16;
  max-height: 80vh;
  width: 100vw;
}